<div id="new-recruit-link">
  <%= link_to '新規ランチ募集', new_recruit_path, class: 'hover btn btn-light' %>
</div>

<div class="row justify-content-evenly card_box">
  <% recruits.each do |recruit| %>
    <% if recruit.owner_id == current_user.id %>
      <div class="card border-success mt-lg-3 mt-sm-5 col-sm-12 col-lg-5" style="padding: 0">
        <div id="#favorite_<%= recruit.id %>", class="card-header bg-success bg-gradient bg-opacity-25 fw-bolder fs-4 flexcard">
          <%= recruit.shop %>
          <%= render 'favorites/favorite', recruit: recruit %>
        </div>
        <%= render 'index_card', recruit: recruit %>
      </div>
    <% elsif %>
      <div class="card border-danger mt-lg-3 mt-sm-5 col-sm-12 col-lg-5" style="padding: 0">
        <div id="#favorite_<%= recruit.id %>", class="card-header bg-danger bg-gradient bg-opacity-25 fw-bolder fs-4 flexcard">
          <%= recruit.shop %>
          <%= render 'favorites/favorite', recruit: recruit %>
        </div>
        <%= render 'index_card', recruit: recruit %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pagenate">
  <%= paginate recruits %>
</div>
